body {
    background-color: #b259ac;
}

#placeholder {
    padding: 10%;
}

.message {
    display: none;
    padding: 5%;
    color: #262626;
    text-align: center;
    font-family: "Modak", cursive;
    font-size: 300%
}

#buttonContainer {
    text-align: center;
}

button {
    display: inline-block;
    padding: .5em;
    font-size: 300%;
}